.Intro {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Selfie {
    padding: 16px;
    margin: 16px;
}

.Bio {
    padding: 16px;
    margin: 16px;
    text-align: left;
    max-width: 750px;
}