.Nav {
    text-align: center;
    display: flex;
    justify-content: space-between;
    background-color: #417047;
    border-bottom: 4px solid #453b34;
  }
  
  .Nav-button {
    padding: 16px;
    font-size: 1.5em;
    font-weight: 350;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.5s;
  }
  
  .Nav-button:hover {
    border-color: rgb(246, 181, 255);
  }

  .Nav-icon {
    padding: 12px;
    cursor: pointer;
    size: 12px;
  }

  .Right-divs {
    display: flex;
  }